/* Form Styling */
.post-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .close-form {
    background: none;
    border: none;
    color: var(--black);

    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
  }

  body.dark-mode .close-form {
    color: var(--white);
   }


   body.dark-mode input, body.dark-mode textarea{
    color: var(--white);
   }

  .close-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .close-form:hover {
    color: var(--danger-hover-bg);
  }

  body.dark-mode .close-form:hover  {

   }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  body.dark-mode .form-label {
    color: #bbb;
  }
  
  .form-input,
  .form-textarea {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid var(--border-color-light);
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 100%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-textarea {
    min-height: 300px;
    font-family: var(--primary-font);
  }
  
  body.dark-mode .form-input,
  body.dark-mode .form-textarea {
    background-color: #333;
    border: 1px solid var(--dark-border);
  }
  
  .form-input:focus,
  .form-textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #fff;
  }
  
  body.dark-mode .form-input:focus,
  body.dark-mode .form-textarea:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(29, 185, 84, 0.5);
    background-color: #2a2a2a;
  }